.tcdPageCode{
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
}
.tcdPageCode a{
	display: inline-block;
	color: #666;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 5px 15px;
	border: 1px solid #ddd;
	margin-right: 10px;
	border-radius: 4px;
	vertical-align: middle;
	background-color: #fff;
}
.tcdPageCode a:hover{
	text-decoration: none;
	border: 1px solid #428bca;
}
.tcdPageCode span.current{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 5px 15px;
	margin-right: 10px;
	color: #f33b36;
	/* background-color: #428bca; */
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}
.tcdPageCode span.disabled{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 5px 15px;
margin-right: 10px;
	color: #666;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}