.dis{display:inline-block}
.backgroundact{background:#ff5400;color:#fff}
.wid100{width:100px}
.textcenter{text-align:center;}
.height30{height:30px;line-height:30px}
.background{background:#ccc;color:#fff}
.shou{cursor: pointer;}